In [1]:
import numpy as np

In [2]:
def calculate_entropy(p):
    return -(p * np.log2(p) + (1 - p) * np.log2(1 - p))

In [3]:
calculate_entropy(.5), calculate_entropy(.9), calculate_entropy(.1)

(1.0, 0.4689955935892811, 0.4689955935892812)

In [4]:
import pandas as pd
df = pd.read_csv('/Users/raymondmbp/makeschool/DS-2.1-Machine-Learning/DS-2.1-Machine-Learning/Notebooks/Datasets/tennis.txt', delimiter = "\t", header = None, engine = 'python', names = ['Outlook', 'Temperature', 'Humidity', 'Wind', 'PlayTennis'])
df

     Outlook Temperature Humidity    Wind PlayTennis
1      Sunny         Hot     High    Weak         No
2      Sunny         Hot     High  Strong         No
3   Overcast         Hot     High    Weak        Yes
4       Rain        Mild     High    Weak        Yes
5       Rain        Cool   Normal    Weak        Yes
6       Rain        Cool   Normal  Strong         No
7   Overcast        Cool   Normal  Strong        Yes
8      Sunny        Mild     High    Weak         No
9      Sunny        Cool   Normal    Weak        Yes
10      Rain        Mild   Normal    Weak        Yes
11     Sunny        Mild   Normal  Strong        Yes
12  Overcast        Mild     High  Strong        Yes
13  Overcast         Hot   Normal    Weak        Yes
14      Rain        Mild     High  Strong         No

In [5]:
calculate_entropy(9/14)

0.9402859586706311

In [6]:
df[(df['Wind'] == 'Weak') & (df['PlayTennis'] == 'Yes')]

     Outlook Temperature Humidity  Wind PlayTennis
3   Overcast         Hot     High  Weak        Yes
4       Rain        Mild     High  Weak        Yes
5       Rain        Cool   Normal  Weak        Yes
9      Sunny        Cool   Normal  Weak        Yes
10      Rain        Mild   Normal  Weak        Yes
13  Overcast         Hot   Normal  Weak        Yes

In [7]:
# Calculate entropy for weak wind and play == Yes
calculate_entropy(6/8)

0.8112781244591328

In [8]:
df[(df['Wind'] == 'Strong')]

     Outlook Temperature Humidity    Wind PlayTennis
2      Sunny         Hot     High  Strong         No
6       Rain        Cool   Normal  Strong         No
7   Overcast        Cool   Normal  Strong        Yes
11     Sunny        Mild   Normal  Strong        Yes
12  Overcast        Mild     High  Strong        Yes
14      Rain        Mild     High  Strong         No

In [9]:
# Calculate entropy for strong wind and play == Yes
calculate_entropy(3/6)

1.0

In [10]:
df[(df['Wind'] == 'Weak')]

     Outlook Temperature Humidity  Wind PlayTennis
1      Sunny         Hot     High  Weak         No
3   Overcast         Hot     High  Weak        Yes
4       Rain        Mild     High  Weak        Yes
5       Rain        Cool   Normal  Weak        Yes
8      Sunny        Mild     High  Weak         No
9      Sunny        Cool   Normal  Weak        Yes
10      Rain        Mild   Normal  Weak        Yes
13  Overcast         Hot   Normal  Weak        Yes

In [11]:
df[(df['Wind'] == 'Strong')]

     Outlook Temperature Humidity    Wind PlayTennis
2      Sunny         Hot     High  Strong         No
6       Rain        Cool   Normal  Strong         No
7   Overcast        Cool   Normal  Strong        Yes
11     Sunny        Mild   Normal  Strong        Yes
12  Overcast        Mild     High  Strong        Yes
14      Rain        Mild     High  Strong         No

In [12]:
# Calculate entropy for strong and weak wind
calculate_entropy(8/14)

0.9852281360342515

In [13]:
.94 - (.81 * (8/14) + 1*(6/14))

0.04857142857142849

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.tree import export_graphviz
import pydotplus

df = pd.read_csv('/Users/raymondmbp/makeschool/DS-2.1-Machine-Learning/DS-2.1-Machine-Learning/Notebooks/Datasets/tennis.txt', delimiter = "\t", header = None, engine = 'python', names = ['Outlook', 'Temperature', 'Humidity', 'Wind', 'PlayTennis'])
df

     Outlook Temperature Humidity    Wind PlayTennis
1      Sunny         Hot     High    Weak         No
2      Sunny         Hot     High  Strong         No
3   Overcast         Hot     High    Weak        Yes
4       Rain        Mild     High    Weak        Yes
5       Rain        Cool   Normal    Weak        Yes
6       Rain        Cool   Normal  Strong         No
7   Overcast        Cool   Normal  Strong        Yes
8      Sunny        Mild     High    Weak         No
9      Sunny        Cool   Normal    Weak        Yes
10      Rain        Mild   Normal    Weak        Yes
11     Sunny        Mild   Normal  Strong        Yes
12  Overcast        Mild     High  Strong        Yes
13  Overcast         Hot   Normal    Weak        Yes
14      Rain        Mild     High  Strong         No

In [15]:
data_encoded = df.apply(preprocessing.LabelEncoder().fit_transform)
print(data_encoded)

    Outlook  Temperature  Humidity  Wind  PlayTennis
1         2            1         0     1           0
2         2            1         0     0           0
3         0            1         0     1           1
4         1            2         0     1           1
5         1            0         1     1           1
6         1            0         1     0           0
7         0            0         1     0           1
8         2            2         0     1           0
9         2            0         1     1           1
10        1            2         1     1           1
11        2            2         1     0           1
12        0            2         0     0           1
13        0            1         1     1           1
14        1            2         0     0           0

In [16]:
clf = DecisionTreeClassifier(criterion = 'entropy')
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [17]:
clf.fit(data_encoded[['Outlook', 'Temperature', 'Humidity', 'Wind', 'PlayTennis']], data_encoded['PlayTennis'])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [18]:
dot_data = export_graphviz(clf, out_file = None)

graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_png('tennis_tree.png')

True